@{
    Script.Require("jQuery");
    Script.Include("myscript.js");
    Style.Require("MyStyle");
    Style.Include("mystylesheet.cs");  
}
           
<div>
</div>


@using (Script.Foot())
{
    <script type="text/javascript"> $(function () {
    
    });

 </script>
}